body{
    background-color: whitesmoke;
    text-align: center;
    
    
}

/* h1{
    font-family: monospace;
} */

/* div{
    background-color:;
} */
/* p{
    font-family: monospace;
    background-color: whitesmoke;
    padding-top: 2rem;
    
} */

/* img{
    height: 120px;
    width: 100px;
    float: left;
    padding-left: 2rem;
    padding-bottom: 2rem;
} */

/* section{
    background-color: brown;
} */

#div1{
    box-shadow: 3px 3px 4px;
    width: 600px;
    height: 400px;
    margin: auto;
    margin-top: 20px;

}


input{
    margin-left: 100px;
    width:200px;
    height:40px;
    border-width: 1px solid;
    border: none;
    border-bottom: 1px solid gray;
    padding-left: 10px;
    border-radius: 3px;
    margin-top: 40px;
}


button{
    background-color: rgb(33, 86, 199);
    font-size: 16px;
    border:none;
    margin-left:100px;
    color: white;
    width: 200px;
    height: 30px;
    border-radius: 4px;
}

.nextbttn:hover{
    background-color: rgb(76, 183, 219);
}

input:focus{
    outline: none;
    border: 1px solid rgb(33, 86, 199);   
}

#img1{
    width: 300px;
    height: 200px;
    border-radius: 160px;
}

#div2{
    background-color: darkslategrey;
    width: 650px;
    height: 300px;
    margin-bottom: 50px;
    margin: auto;
    box-shadow: 3px 3px 4px;
    border-radius: 5px;
}

#h51{
    background-color: rgb(10, 18, 32);
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    height: 100px;
    color: white;
    padding-top: 16px;
    
}

#h52{
    background-color: rgb(10, 22, 44);
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    height: 100px;
    color: white;
}

#bttn1{
    width: 80px;
    height: 40px;
    float: right;
    margin-right: 16px;
    margin-top: 40px;
}
