body{
    background-color: white;
}

#div1{
    background-color: whitesmoke;
    margin: auto;
    box-shadow: 2px 4px 8px;
    width: 500px;
    height: 600px;
    margin-top: 16px;
    border-radius: 16px;
}

input{
    width: 350px;
    border: none;
    border-bottom: 1px solid skyblue;
    background-color: whitesmoke;
    padding-top: 16px;
}

input :focus{
    outline: none;
    border-bottom: 2px solid blue;
    
}

#div2{
    background-color: cornflowerblue;
}

h5{
    text-align: center;
    padding-top: 14px;
}

#bttn1{
    margin-left: 30px;
}

#check{
    margin-left: 150px;
        /* width: 16px;
        height: 16px; */
}